*.json -text whitespace=cr-at-eol,blank-at-eol,blank-at-eof,space-before-tab
*.csv -text whitespace=cr-at-eol,blank-at-eol,blank-at-eof,space-before-tab
*.md -text
*.py -text
*.log -text whitespace=cr-at-eol,blank-at-eol,blank-at-eof,space-before-tab
